{% load static %}

<!DOCTYPE html>
	<html>
		<head>
			<title>SetSail</title>

			<!-- Latest compiled and minified CSS -->
			<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->


			<!-- Optional theme -->
			<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
			<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css">
			<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
			<meta name="viewport" content="width=device-width, initial-scale=1">



		</head>
		<body>
			<nav id="navbar" class="blue-bar">
        <div class="navigation" id="navigation">
					<a href="/" title="Set Sail Homepage">
						<img src="{% static "images/set_sail_logo_icon.png" %}" class="logo" alt="Set Sail Logo"></a>
            <ul class="burger">
                <li class="mobile-only"><a href='{% url "club_registration"%}'>Sign-up</a></li>
            </ul>
            <div id="signup-nav" class="signup-container">
                <ul>
                    <li class="signin"><a id="dynamic-signin-link" href='{% url "user_login"%}' class="signin">Sign in</a></li>
                    <li class="buy signup"><a href="{% url "club_registration" %}">Try Set Sail for Free</a></li>
                </ul>
            </div>
        </div>
    	</nav>
			{% block content %}
			{% endblock %}
		</body>
		<script>

		var is_root = location.pathname == "/"
		var con = document.getElementById("signup-nav")
	    console.log(is_root)
	    if (is_root) {
	    } else {
	          con.style.display = "none";
	    }

		</script>

	</html>




<!-- Latest compiled and minified JavaScript -->
