{% extends 'base.html' %}
{% load static %}

{% block content %}
  <body id="loginPage">
    <div id="wrapperHeader">
      <h1>Set Sail</h1>
    </div>
     <div id="header">

        <div class="login" id="loginPage">
          <h2>Welcome Back!</h2>
        <div class="minimalButton">
          <a href='{% url "user_login" %}'><p>Login Here</p></a>
        </div>
        <h4>First time users register here!</h4>
        <div class="minimalButton">
          <a href='{% url "club_registration" %}'><p>Register Here</p></a>
        </div>
      </div>

    </div>
    <!-- <div id="wrapperHeaderImg">

     <div id="header">
      <img src="{% static "images/sailing_header.jpg" %}" alt="logo" />
     </div>
    </div> -->
    <!-- <img src="{% static "images/sailing_header.jpg" %}" style="margin:0px auto;display:block" align="middle", border="0" alt="yacht at sea"> -->
  </body>

{% endblock %}
