{% extends 'base.html' %}
{% load static %}

{% block content %}
  <body id="loginPage">
    <div id="wrapperHeader">
     <div id="header">
      <h1>Welcome to Set Sail</h1>
      <div class="login">
        <h2>Club Details:</h2>
        <h4>First time users register here!</h4>
          <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="minimalButton" type="submit">
              <p>Register Here</p>
            </button>
          </form>
      </div>
     </div>
    </div>
    <!-- <div id="wrapperHeaderImg">

     <div id="header">
      <img src="{% static "images/sailing_header.jpg" %}" alt="logo" />
     </div>
    </div> -->
    <!-- <img src="{% static "images/sailing_header.jpg" %}" style="margin:0px auto;display:block" align="middle", border="0" alt="yacht at sea"> -->
  </body>

{% endblock %}
