body, html{
  margin:0;
  padding:0;
}

body, html {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

body {
	background-color: rgb(210,210,230);
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 100;
	display: flex;
	flex: 1;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

a {
	font-size: 1em;
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: 'Roboto', Arial, Helvetica;
	font-size: 60px;
	font-weight: 100;
	color: white;
	text-align: center;
}

h2, h3, h4 {
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 100;
	color: grey;
	text-align: center;
}

input {

    border-radius: 3px;
    line-height: 25px;
}
label {
  display: inline-block;
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 100;
	color: grey;
  width: 140px;
  text-align: left;
  margin-bottom: .25em;
}

nav {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	margin-bottom: 0;
	position: fixed;
	transition: all .3s ease-in-out;
	vertical-align: middle;
	z-index: 1000;
}

nav .navigation ul {

    margin-top: 19px;
    list-style: none;
    display: inline-block;
    float: left;

}

p {
  /* text-align: center; */
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}

#wrapperHeader {
	background: linear-gradient(to top,#43C6AC, #1a8cff) ; /*linear-gradient(to right, #191654, #43C6AC) */
	min-height: 300px;
	border-radius: 0 0 80% 80%;
	width: 120vw;
	margin-left: -10vw;
}

#wrapperHeader h1 {
	line-height: 300px;
	margin-bottom: -100px;
}

.example{
  background: white;
  text-align: center;
  font-weight: 100;
  color: grey;

  border-color: #FFF;
  border-style: solid;
  border-width: 0px;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

	padding: 3.4em;
	margin: 2.8em;
}

.blue-bar {
	background: #1a8cff;
	color: white;
	font-family: 'Roboto', Arial, Helvetica;
}

.header {
  background: linear-gradient(to top,#43C6AC, #1a8cff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*! height: 100%; */
  margin-top: 40px;
  width: 100%;
}

.header h2 {
	color: white;
}

.helptext {
	color: red;
	display: flex;
	font-size: 10px;
	margin-left: 20%;
}

.login {
    background-color: white;
    border: 1px solid #a1a1a14d;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    display: block;
    height: 400px;
    margin: 2% auto 10px auto;
		padding: 2%;
    width: 30%;
}

.loginField {

    text-align: left;
    display: block;
    width: 99%;
    margin-bottom: 1.5em;
}

.time-field {

    text-align: left;
    display: block;
    width: 99%;
    margin-bottom: 1.5em;
}

.main {
	padding: 1em;
  margin: 1em;
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid #FFF;
  box-sizing: border-box;
}

.register {
    background-color: white;
    border: 1px solid #a1a1a14d;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    display: block;
    height: 100%;
    margin: auto;
		padding: 2%;
    width: 30%;
}

.navigation {
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: relative;
}

nav a.current {
 opacity:1
}
nav .logo {
 display:inline-block;
 padding:8px;
 height:60px;
 float:left;
 margin:0 0 0 5px
}
@media(max-width:600px) {
 nav .logo {
  display:none
 }
}
@media(max-width:963px) {
 nav .logo {
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0
 }
}
nav .navigation {
 margin:0;
 padding:0;
 font-weight:400;
 position:relative
}
nav .navigation ul {
 margin-top:19px;
 list-style:none;
 display:inline-block;
 float:left
}
nav .navigation ul li {
 display:inline;
 padding:0 5px;
 letter-spacing:-.02em
}
@media(min-width:1024px) {
 nav .navigation ul li {
  padding:0 8px
 }
}
nav .navigation ul li a:hover {
 text-transform:none
}
nav .navigation ul li.mobile-only {
 display:none
}

@media(min-width:833px) {
 nav .navigation ul li.nav-home {
  display:none
 }
}
nav .navigation #menu-button {
 display:none
}
@media(max-width:963px) {
 nav .navigation #menu-button {
  margin:20px 0 20px 20px;
	color: white;
	font-weight:400;
  font-size:18px;
  display:block;
  float:left;
  background:0 0;
  outline:0
 }
}
@media(max-width:963px) {
 nav .navigation .burger {
  display:none
 }
 nav .navigation .burger.visible {
  display:block;
  width:100%;
  position:absolute;
  top:60px;
  background-color:#fff;
  margin:0;
  padding:10px;
  background-image:linear-gradient(-180deg,rgba(255,255,255,0) 0%,rgba(250,250,250,0) 100%);
  box-shadow:0 0 12px 0 rgba(0,0,0,.1),inset 0 -2px 0 0 rgba(0,0,0,.05);
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
 }
 nav .navigation .burger.visible li {
  display:block;
  height:35px
 }
 nav .navigation .burger.visible li a {
  line-height:35px;
  color:#1a8cff
 }
 nav .navigation .burger.visible .mobile-only {
  display:block
 }
}

nav .navigation .signup-container {
 float:right
}
@media(max-width:52em) {
 nav .navigation .signup-container .signin {
  display:none
 }
}
nav .navigation .signup-container .buy a,nav .navigation .signup-container .signup a {
 border-radius:40px;
 padding:10px 20px;
 -webkit-transition:all .3s ease-in-out;
 -moz-transition:all .3s ease-in-out;
 -ms-transition:all .3s ease-in-out;
 -o-transition:all .3s ease-in-out;
 transition:all .3s ease-in-out
}
nav .navigation .signup-container .buy a:hover,nav .navigation .signup-container .signup a:hover {
 -webkit-transition:all .3s ease-in-out;
 -moz-transition:all .3s ease-in-out;
 -ms-transition:all .3s ease-in-out;
 -o-transition:all .3s ease-in-out;
 transition:all .3s ease-in-out
}
@media(max-width:52em) {
 nav .navigation .signup-container .buy a span,nav .navigation .signup-container .signup a span {
  display:none
 }
}

.minimalButton {
    background-color: white;
    border: 2px solid #a1a1a14d;
    border-radius: 10px;
    color: grey;
    font-size: 20px;
    font-weight: 100;
    display: block;
    height: 40px;
    margin: auto;
    width: 50%;
}

.minimalButton:hover {
    background-color: rgba(230, 230, 250, 0.9);
    border: 2px solid #a1a1a14d;
    border-radius: 10px;
    font-size: 30px;
    display: block;
    height: 40px;
    margin: auto;
    width: 50%;
}

.minimalButton a {
	text-decoration: none;
}

.minimalButton p {
	text-align: center;
	font-size: 15px;
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 100;
}

#add-button {
  border-radius: 50%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  width: 18%;
  position: relative;
  top: -68%;
  right: -126%;
  background: white;
  height: 16%;
}

#plus-sign {
  text-align: center;
  font-size: 45px;
  font-family: 'Roboto', Arial, Helvetica;
  font-weight: 100;
  position: relative;
  top: 9%;
}

#loginPage p {
	color: grey;
	vertical-align: middle;
	line-height: 40px;
	margin: 0px;
}

#loginPage h2 {
	margin-bottom: 50px;
}

#loginPage h4 {
	margin-top: 50px;
	margin-bottom: 5px;
}

#race-course {
  background: lightgray;
  margin: auto;
  padding: 1em;
}



/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-weight: 400px;
  margin: 20px 0px;
  width: 100%;
}
.custom-select select {
   display: none; /*hide original SELECT element: */
 	}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
