/*@font-face {
    font-family: 'sinkin';
    src: url('/SinkinSans-100Thin-webfont.eot');
    src: url('/SinkinSans-100Thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('/SinkinSans-100Thin-webfont.woff') format('woff'),
        url('/SinkinSans-100Thin-webfont.ttf') format('truetype'),
        url('/SinkinSans-100Thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

body {
	background-color: rgb(210,210,230);
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 100;
}

h1 {
	font-family: 'Roboto', Arial, Helvetica;
	font-size: 60px;
	font-weight: 100;
	color: grey;
	text-align: center;
}

h2 {
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 100;
	color: grey;
	text-align: center;
}

h3 {
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 100;
	color: grey;
	text-align: center;
}

h4 {
	font-family: 'Roboto', Arial, Helvetica;
	font-weight: 100;
	color: grey;
	text-align: center;
}

input {
	left: 40px;
	position: relative;
}
label {
	margin-left: 30px;
	text-align: left;
}

p {
  /* text-align: center; */
}


.helptext {
	color: red;
	display: flex;
	font-size: 10px;
	margin-left: 20%;
}
.login {
    background-color: white;
    border: 1px solid #a1a1a14d;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    display: block;
    height: 400px;
    margin: 5% auto 10px auto;
		padding: 2%;
    width: 30%;
}

.minimalButton {
    background-color: white;
    border: 2px solid #a1a1a14d;
    border-radius: 10px;
    display: block;
    height: 40px;
    margin: auto;
    width: 50%;
}

.minimalButton:hover {
    background-color: rgba(230, 230, 250, 0.9);
    border: 2px solid #a1a1a14d;
    border-radius: 10px;
    display: block;
    height: 40px;
    margin: auto;
    width: 50%;
}

.minimalButton a {
	text-decoration: none;
}

.minimalButton p {
	text-align: center;
}

#loginPage p {
	vertical-align: middle;
	line-height: 40px;
	margin: 0px;
}

#loginPage h2 {
	margin-bottom: 50px;
}

#loginPage h4 {
	margin-top: 50px;
	margin-bottom: 5px;
}
